/*The container box for the popup-menu-item*/
.configurable-menu .popup-menu {
    margin-top: 1px;    
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.25); /*fix the shadow !*/
}

/*The popup-menu-item of this alternative popup-menu implementation*/
.configurable-menu .popup-menu-item {
    padding: 6px 0 6px 10px;
}

/*The popup-menu-item inside a panel*/
.popup-menu-item.applet-box {
    padding: 0 .5em 0 .5em;
}

/*The popup-menu-item acceletator label*/
.popup-menu-accel-label {
    text-align: right;
    padding-left: 0.625em;
    padding-right: 0.625em;
}

/*The popup-menu-item gradient*/
.gradient-menu-item {
   spacing: 0.125em;
}

.hud-menu .menu-search-entry {
   width: 30.0em;
}

/*The popup-menu-item label inside a panel
.popup-menu-item .applet-label {
    font-size: 10pt;
}
*/

/*The popup-menu-item gradient label
.gradient-label-menu-item {
    color: red;
}
*/

/*The popup-menu-item gradient icon box
.gradient-icon-box {
    width: 15px;
    height: 15px;
}
*/
